:root {
  --space: 1.5em 0;
  --space: 2em 0;
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.Site-content:after {
  content: "\00a0";
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}
.App-footer {
  height: 50px;
  padding: 20px;
  color: white;
  background-color: rgb(75, 74, 74);
  /*flex-shrink: 0;  Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  display: flex;
}
.App-footer-icon {
  flex: 0 0 20%;
  cursor: pointer;
}
.App-footer-status {
  text-align: right;
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%; /* Avoid the IE 10-11 `min-height` bug. */
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 20px 0 20px 0;
}
p {
  margin: 0 0 20px 0;
}

.botton-toggle-open-mode {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
  border: 0.5px solid rgb(94, 90, 90);
  -webkit-border-radius: 40px;
  border-radius: 35px;
  font: normal 20px/50px "Domine Font Family", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgb(94, 90, 90);
}

.botton-open-door {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
  border: 0.5px solid rgb(94, 90, 90);
  -webkit-border-radius: 40px;
  border-radius: 35px;
  font: normal 20px/50px "Domine Font Family", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgb(94, 90, 90);
}

.botton-door {
  /* -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box; */
  /* box-sizing: content-box; */
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid rgb(94, 90, 90);
  -webkit-border-radius: 40px;
  border-radius: 35px;
  font: normal 40px/100px "Domine Font Family", Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  display: inline-block;
}

.selected-locker-button {
  border: 2px solid red !important;
  /* background-color: #ffd699 !important; */
}
.small-label-text {
  font: normal 12px "Domine Font Family", Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  margin: 0 auto;
}

.modbus-setup-table {
  margin: 0px 50px 0px 50px;
}

.table-field {
  width: 100%;
  background: transparent;
  font-size: 30px;
  text-align: center;
}

.double {
  zoom: 1.5;
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
